<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/wishlist.css">
    <script type="text/javascript" src="javascripts/wishlist.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
      $(".del").click(function(){
        var id_rev = this.name.split("/");
        var id = id_rev[0];
        var _rev = id_rev[1];
        del_travel(id, _rev);
      });
      $(".up").click(function(){
        var id_rev = this.name.split("/");
        var id = id_rev[0];
        var _rev = id_rev[1];
        update_travel(id, _rev);
      });
    });
    </script>
  </head>
  <body>
    <div class="background"></div>
    <section class="site">
      <section class="navigation">
          <nav>
            <a href="/">Home</a>
            <a href="viaggi">I miei viaggi</a>
            <a href="contatti">Contatti</a>
            <a href="login">Login</a>
            <a href="registrazione">Registrazione</a>
          </nav>
      </section>
      <div id="first">
        <h1>Benvenuto nella tua WishList!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <article class="headers">
        <header>
          <div>
            <h1>Viaggi nel cassetto</h1>
            <h2 id = "todo"><%= todo %></h2>
          </div>
          <div>
            <h1>Viaggi completati</h1>
            <h2 id="done"><%= completed %></h2>
          </div>
        </header>
      </article>
      <div class="viaggi">
        <form class="form" action="/wishlist/add_wish/" method="post">

          <input type="text" name="citta" id="input" maxlength="58" onmouseout="hideLabel();" onmouseover="viewLabel();" placeholder="Dove vuoi andare?">
          <label id="label" >Premi Enter per aggiungere alla lista</label>
        </form>

        <ul id = "lista">
            <% name.forEach(function(name){ %>
              <% if(name.value.date == null){ %>

              <div class="section">
                <li><%= name.id %></li>
                <div class="sub_section">
                  <button class="up" type="button" name="<%= name.id %>/<%= name.key %>">Completa</button>
                  <button class="del" type="button" name="<%= name.id %>/<%= name.key %>">Elimina</button>
                </div>
              </div>
                <% } %>
            <% }); %>
        </ul>
      </div>
      <section id="media">
        <h1">Qui potrai vedere le foto della città nella tua lista!</h1>
        <div id="immagini">
          <% name.forEach(function(name){ %>
            <img src="<%= name.value.foto %>"></img>
          <% }); %>
        </div>
      </section>
    </section>
  </body>
</html>
