<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/wishlist.css">
    <script type="text/javascript" src="javascripts/wishlist.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
      $(".del").click(function(){
        var id = this.id;
        var _rev= this.value;
        var citta= this.name;
        console.log("Ecco la citta: "+citta);
        del_travel(id,_rev,citta);

      });
      $(".up").click(function(){
        var id = this.id;
        var _rev= this.value;
        var citta= this.name;
        console.log("Ecco la citta: "+citta);
        update_travel(id, _rev,citta);
      });
    });
    </script>
  </head>
  <body>
    <div class="background"></div>
    <section class="site">
      <section class="navigation">
          <nav>
            <a href="/">Home</a>
            <a href="viaggi">I miei viaggi</a>
            <a href="contatti">Contatti</a>
            <% if(cookie==null){ %>
              <a href="login">Login</a>
              <a href="registrazione">Registrazione</a>
                <% } %>
                
            <% if(cookie) { %>
                  <a href="login/logout">Logout</a>
    
                <% } %>
            
          </nav>
      </section>
      <div id="first">
        <h1>Benvenuto nella tua WishList!</h1>
        <p>Chi non ha un viaggio che ha sempre sognato di fare, una meta preferita o una città che ha sempre voluto visitare. Questo è il posto giusto per annotarli! Inserisci qui le vacanze dei tuoi sogni e quando le avrai finalmente fatte ti basterà cliccare su "completa" per inserirla automaticamente tra i viaggi effettuati!</p>

      </div>
      <article class="headers">
        <header>
          <div>
            <h1>Viaggi nel cassetto</h1>
            <h2 id = "todo"><%= todo %></h2>
          </div>
          <div>
            <h1>Viaggi completati</h1>
            <h2 id="done"><%= completed %></h2>
          </div>
        </header>
      </article>
      <div class="viaggi">
        <form class="form" action="/wishlist/add_wish/" method="post">

          <input type="text" name="citta" id="input" maxlength="58" onmouseout="hideLabel();" onmouseover="viewLabel();" placeholder="Dove vuoi andare?">
          <label id="label" >Premi Enter per aggiungere alla lista</label>
        </form>

        <ul id = "lista">
          <% name.forEach((doc)=>{ %>
            <% if(doc.date == null){ %>

              <div class="section">
                <li><%= doc.citta %></li>
                <div class="sub_section">
                  <button class="up" type="button" id= "<%= doc._id %>" name="<%= doc.citta %>" value="<%= doc._rev%>">Completa</button>
                  <button class="del" type="button" id= "<%= doc._id %>" name="<%= doc.citta %>" value="<%= doc._rev%>">Elimina</button>
                </div>
              </div>
                <% } %>
            <% }); %>
        </ul>
      </div>
      <section id="media">
        <h1">Qui potrai vedere le foto della città nella tua lista!</h1>
        <div id="immagini">
          <% if(name.length!=0){ %>
              <% name.forEach((doc)=>{ %>
                <img src="<%= doc.foto %>"></img>
              <% }); %>
          <% } %>
        </div>
      </section>
    </section>
  </body>
</html>
